/*
#5680E9
#84CEEB
#5AB9EA
#C1C8E4
#8860D0
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  grid-template-rows: 20vh 80vh;
}

.header {
  position: relative;
  grid-column: 2 / span 2;
  grid-row: 1 / 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-left: 2%;
  box-shadow: 0 10px 10px -10px gray;
}

.top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 1%;
}

.left-side {
  position: relative;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
}

.left-side input,
.left-side input:focus {
  width: 80%;
  background-color: #9aaebc;
  border: none;
  border-radius: 20px;
  align-content: center;
}

.left-side svg {
  margin-left: 40%;
}

.right-side {
  display: inline-grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.right-side svg {
  justify-self: end;
}

.right-side .image {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  background-image: url("images/cherryblossom.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.right-side h3 {
  display: block;
  justify-self: start;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profileleft {
  display: grid;
  grid-template-columns: 0.3fr 1.6fr;
}

.profileleft .profile-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;

  background-image: url("images/cherryblossom.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-self: center;
  align-self: center;
}

.profilename {
  align-self: center;
}

.profileleft p {
  font-size: 0.8em;
  font-weight: bold;
  padding-bottom: 5px;
}

.profileright {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
  gap: 20px;
}

.profileright button {
  width: 90px;
  height: 35px;
  border-radius: 50px;
  background-color: #5ab9ea;
  border: none;
  color: white;
  font-weight: bold;
}

.sidebar {
  grid-column: 1 /1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: 0.3fr 1fr 2fr;
  background-color: #5ab9ea;
  color: white;
  padding-left: 5%;
}

#sidebar-header ul {
  list-style: none;
  padding-left: 0;
  float: left;
  margin-top: 2%;
}

#sidebar-header li {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  font-size: 1.5em;
  font-weight: 500;
  align-items: center;
}

#sidebar-header svg {
  position: relative;
  margin-right: 2%;
  width: 10%;
  height: 10%;
}

#sidebar-header p {
  padding-left: 10px;
}

#navigate ul {
  list-style: none;
  padding-left: 0;
  float: left;
}

#navigate li {
  padding-bottom: 6%;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr;
  align-items: center;
  font-weight: 500;
}

#navigate p {
  padding-left: 20px;
}

#support ul {
  list-style: none;
  padding-left: 0;
  float: left;
  margin-top: 5%;
}

#support li {
  padding-bottom: 6%;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr;
  align-items: center;
  font-weight: 500;
}

#support p {
  padding-left: 20px;
}

.content {
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 3%;
  background-color: #9aaebc;
  padding-top: 3%;
  overflow: auto;
}

.projects {
  grid-column: 1 / 1;
  grid-row: 1 / span 2;
  display: flex;
  min-width: 600px;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: white;
  height: 150px;
  width: 400px;
  padding-top: 3%;
  padding-left: 2%;
}

.card h2 {
  font-size: 1.5em;
}

.card p {
  font-size: 1em;
}

.announcements {
  grid-column: 2;
}

.trending {
  grid-column: 2;
}
